
@import "../../css/variables";

.checkout-page {

  &-checkbox {
    position: relative;
  }

  &-button {
    color: $yellow;
    background: #282828;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 1.2px;
    font-weight: bold;
    padding: 15px 30px 14px;
    cursor: pointer;
    transition: all .3s;
    text-transform: uppercase;

    &:hover {
      background: #141211;
    }

    &:focus {
      outline: none;
    }
  }

  .checkout-navbar {
    position: relative;
    margin-top: 16px;
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-back {
      cursor: pointer;
      color: #737680;
      text-transform: uppercase;
      font-size: 10px;
      padding-left: 15px;
      position: absolute;
      left: 5px;

      &:hover {
        color: $mainBlack;
      }

      &-wrap {
        position: relative;

        &-arrow {
          position: absolute;
          height: 1px;
          top: 50%;
          left: -18px;
          transform: translate(-20%,-50%);
          background: #737680;
          width: 9px;

          &:before {
            content: '';
            width: 5px;
            top: -2px;
            background: #737680;
            height: 1px;
            transform: rotate(-45deg);
            position: absolute;
          }

          &:after {
            content: '';
            width: 5px;
            top: 2px;
            background: #737680;
            height: 1px;
            transform: rotate(45deg);
            position: absolute;
          }
        }

      }

    }

    .checkout-menu {
      display: flex;
      max-width: 385px;
      margin: auto;
      padding: 0;
      justify-content: space-between;

      &-item{
        margin-right: 110px;
        cursor: pointer;
        font-size: 16px;
        line-height:  25px;
        letter-spacing: 0.4px;
        color: #a3a5ad;
        position: relative;

        &.active {
          color: $mainBlack;

          &:before {
            content: '';
            background: $yellow;
            position: absolute;
            width: 13px;
            bottom: -5px;
            height: 2px;
          }
        }
      }
    }
  }

  .checkout-header {
    position: relative;
    margin-bottom: 36px;

    .checkout-menu {
      display: flex;
      flex-direction: row;
      max-width: 385px;
      margin: auto;
      justify-content: space-between;

      li p {
        margin-bottom: 8px;
        line-height: 1.56;
        letter-spacing: 0.4px;
      }

      .title-devideer {
        width: 30%;
        display: inline-block;
        margin-left: 2px;
        margin-bottom: 4px;
      }

      li.selected-menu-item p {
        color: $mainBlack;
      }

      li.selected-menu-item .title-devideer {
        display: block;
      }
    }

    .button-back {
      position: absolute;
      top: 23px;

      span {
        font-size: 10px;
        line-height: 1.6;
        letter-spacing: 1.2px;
        font-weight: bold;
      }
    }

  }

  .checkout-main-content {
    display: flex;
    margin-top: 10px;

    .right-side {
      margin-right: 70px;
      max-width: 770px;

      h3 {
        line-height: 32px;
        font-size:  21px;
        font-weight: 900;
        letter-spacing: 0.5px;
        margin: 0 0 15px;
      }
    }

    .block-shipping-address {
      width: 770px;
      box-shadow: 0 7.1px 28.6px 0 rgba(58, 60, 68, 0.06);
      padding: 30px;
      margin-bottom: 15px;

      .shipping-address-form {

        .css-o3h76h-control {
          border: none;
        }

        &-select {
          @extend %checkout-select;

          &:focus {
            outline: none
          }

          option:hover {
            background: #fdcd4a;
          }
        }

        .new-address-state {
          select {
            width: 47%;
          }
        }
      }
    }
  }

  .order-summary {
    box-shadow: 0 7.1px 28.6px 0 rgba(58, 60, 68, 0.06);
    width: 400px;
    padding: 30px 30px;
    max-height: fit-content;

    &-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 16.8px;
      border-bottom: 1px #a3a5ad solid;
      margin-bottom: 15px;

      span {
        padding-top: 5px;
        line-height: 1.6;
        font-size: 10px;
        letter-spacing: 1.2px;
        cursor: pointer;
        transition: all .3s;

        &:hover {
          color: #343538
        }
      }

      h4 {
        margin: 0;
        color: $mainBlack;
        line-height: 1.35;
        font-weight: 900;
        font-size: 18px;
        letter-spacing: 0.37px;
      }
    }

    .fabric-details {
      display: flex;
      flex-wrap: wrap;
    }

    .order-small__item {
      display: flex;
      width: 100px;
      margin-right: 20px;
      flex-direction: column;
      cursor: pointer;
      margin-bottom: 15px;
      box-shadow: 0 4.8px 19px 0 rgba(58, 60, 68, 0.06);

      &:hover {
        box-shadow: 0 4.8px 19px 0 rgba(58, 60, 68, 0.1);
      }

      &:nth-child(3n) {
        margin-right: 0;

        @media (max-width: 1286px) {
          margin-right: 20px;
        }
      }

      .order-small__wrap-image {
        width: 100px;
        height: 88px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      .order-small__item-names {
        padding: 5px;

        span{
          display: block;

          &:nth-child(1) {
            color: #282828;
            font-weight: 600;
          }

          &:nth-child(2) {
            color: #737680;
          }

        }
      }
    }

    .fabric-extra-details {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .fabric-extra-details-single-item {
        width: 48%;
        box-shadow: 0 4.8px 19px 0 rgba(58, 60, 68, 0.06);
        margin-bottom: 15px;
        cursor: pointer;

        &:hover {
          box-shadow: 0 4.8px 19px 0 rgba(58, 60, 68, 0.1);
        }

        .wrap-image {
          max-width: 162px;
          height: 88px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            display: block;
          }

        }
      }

      .fabric-single-item-names {
        padding: 5px;

        span {
          display: block;
          text-transform: uppercase;
          font-size: 10px;
          line-height: 16px;
          letter-spacing: 1.2px;

          &:nth-child(1) {
            color: #282828;
          }

          &:nth-child(2) {
            color: #737680;
          }

          &:nth-child(3) {
            color: #a3a5ad;
          }
        }
      }
    }

    .order-summary-table {
      position: relative;
      border-top: 1px solid #a3a5ad;

      .order-summary-table-wrap {
        padding-top: 15px;
      }

      .table-order-row {
        display: flex;
        margin-bottom: 6px;
        justify-content: space-between;

        &.total {
          margin-top: 30px;

          .table-order-text {
            font-weight: 700;
          }

          .table-order-data {
            color: $yellow;
          }
        }

        .table-order-text {
          font-size: 16px;
          line-height: 25px;
          letter-spacing: 0.4px;
          color: #343538;
        }

        .table-order-data {
          font-weight: 700;
          line-height: 19px;
          color: #343538;

          &.text-s {
            font-weight: 400;
            font-size: 12px;
          }
        }

      }
    }
  }

  .shipping-method, .payment-method {
    @extend %checkout-method;

    .css-o3h76h-control {
      border: none;
    }

    &-title {
      @extend %checkout-main-title;

      &.no-open {
        margin-bottom: 0;
      }
    }

    &-select {
      @extend %checkout-select;
    }

  }

}
