.gray-background {
  background: rgba(0, 0, 0, 0.05);
}
.news-mail-block article {
  margin-bottom: 30px;
}
.title-block {
  padding: 150px;
  border: 1px solid #eee;
  margin-bottom: 45px;
  background-image: url('../../../images/ContactUsBackground.svg');
}
.title-block h1 {
  text-align: center;
  color: #282828;
}
.news-block {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background: #ffffff;
}
.news-block div h4 {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}
.news-block div p {
  font-size: 12px;
  font-weight: 600;
}
.image-news {
  padding: 0;
}
.text-news {
  padding: 15px;
  
}
.post-date {
  font-weight: 900;
  font-size: 10px;
  text-transform: uppercase;
  // float: right;
  display: inline-block;
}
.read-more {
  float: right;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  border-bottom: 2px solid #fdcd4a;
}
.read-more:hover {
  cursor: pointer;
  color: #fdcd4a;

}