// main style variables

%checkout-select {
  width: 100%;
  margin-bottom: 15px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #fdcd4a;
}

%checkout-main-title {
  line-height: 32px;
  font-size: 21px;
  font-weight: 900;
  letter-spacing: 0.5px;
  margin: 0 0 15px;
  color: #343538;
}
