.satisfaction-guaranteed {
  max-width: 1000px;
  margin: 0px auto 50px;
  background-color: var(--white);
}

.satisfaction-content {
  width: 1000px;
  height: 435px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.59;
  letter-spacing: 0.27px;
  color: var(--black);
}

.satisfaction-content .text-style-1 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  letter-spacing: 0.4px;
}

.satisfaction-content .text-style-2 {
  font-weight: bold;
}

//   repair and replacement

.repair-replacement {
  max-width: 1000px;
  margin: 0px auto 50px;
  background-color: var(--white);
}

.repair-content {
  width: 1000px;
  height: 513px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.59;
  letter-spacing: 0.27px;
  color: var(--black);
}

.repair-content .text-style-1 {
  font-weight: bold;
}

.rapair-contact {
  width: 1000px;
  height: 101px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.59;
  letter-spacing: 0.27px;
  color: var(--black);
}
.rapair-contact .text-style-1 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  letter-spacing: 0.4px;
}

.list-style {
  width: 15px;
  height: 20px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.59;
  letter-spacing: 0.27px;
  color: var(--dark-grey);
}

.repair-title {
  width: 134px;
  height: 63px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 0.4px;
  color: var(--black);
}
